/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
:root{ 
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}

/* setup colors */
.white-text{
    color: var(--color-scondary);
}

.color-secondary{
    background-color: var(--color-secondary);
}

.color-section{
    background-color: var(--color-section-bg);
}

.color-primary{
    background-color: var(--color-primary);
}

/* utility */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/*utility flex*/
.d-flex{
    display: flex;
}

/* body */
body{
    font-family: "Noto Sans", sans-serif;
}

/* header */
header{
    width: 100%;
}

nav{
   background-color: var(--color-header-bg);
}

.nav-menu{
   text-decoration: none;
   list-style: none;
}

#hero{
    min-height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.small-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* main */
.right{
    width: 40%;
}

.left{
    width: 60%;
}

.row-reverse{
    flex-direction: row-reverse;
}

.space-between{
    justify-content: space-between;
}

/* footer */

