/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */

:root{ 
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}

/*utility flex*/
.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* body */
body{
    font-family: "Noto Sans", sans-serif;
}

/* header */

nav{
   background-color: var(--color-header-bg);
}

.nav-menu{
   text-decoration: none;
   list-style: none;
   color: var(--color-section-bg);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

#hero{
    min-height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

#feature{
    background-color: var(--color-scondary);
}

#channel{
    background-color: var(--color-section-bg);
}

#community{
    background-color: var(--color-scondary);
}

#technology{
    background-color: var(--color-section-bg);
}

#call-to-action{
    background-color: var(--color-section-bg);
}


.small-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

}

/* main */

.bg-color-main{
    background-color: var(--color-scondary);
}

/* footer */
.bg-color-footer{
    background-color: var(--color-primary);
}

/* footer */
footer{
    color:var(--color-scondary);
}
