/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility nav */
nav{
    width: 100%;
}

/* main */

main,footer{
    margin: auto;
    max-width: 1200px;
}

/*utility flex*/
.d-flex{
    display: flex;
}


